# markdown

# markdown
## markdown
### markdown
#### markdown
##### markdown
###### markdown

### for bold and italic
* *venkat*
* **tony**
* ***sai***

- heading
    - subtext1
    - subtext2

![image](https://i.pinimg.com/originals/c8/be/f8/c8bef81059e99b1ec6d5611283891f69.gif)

[1]
[1](https://drive.google.com/drive/folders/1VrcFYlaaDmwLGU3dVleHAjuDGILpAOZS)

In [2]:
print("hello")

hello

In [5]:
print('hello,gitam',end='|')
print('gm')

hello,gitam|gm

In [ ]:
 a = 10 # single  variable assignment
m, w, e == 1 # multi variable assignment
n, k, l = 1, 2, 3 # multi variable assignment diff values
b = 20
c = 30

In [6]:
a = "python"
b = "p"
type(a)
c = 10
type(c)

int

In [7]:
a = 10.5
type(a)

float

In [23]:
name = 'venkat sai reddi'
age = '20 20 30'
print('my name is',name,'and age is :',age)

my name is venkat sai reddi and age is : 20 20 30

In [3]:
p = q = 20 # multi variable assign with single value
p

20

In [4]:
p

20

In [5]:
a = input('entr a string')
type(a)

entr a string123

str

In [7]:
s = int(input('enter a num'))
type(s)

enter a num123

int

In [8]:
a = float(input('enter a num'))
type(a)

enter a num123

float

In [9]:
a = int(input('enter a num'))
b = int(input('enter a num'))
c = a+b
print(c)

enter a num9
enter a num9
18

In [10]:
a = int(input('enter a num'))
b = int(input('enter a num'))
c = a*b
print(c)

enter a num5
enter a num3
15

In [11]:
a = int(input('enter a num'))
b = int(input('enter a num'))
c = a-b
print(c)

enter a num8
enter a num9
-1

In [13]:
a = int(input('enter a num'))
b = int(input('enter a num'))
c = a//b
print(c)

enter a num25
enter a num5
5

In [ ]:
# data types
# int
# float 
# complex #1+2j, 1 is real , 2j is imaginary part
# boolean # true r flase
# string

In [14]:
x = 10
print(x)
type(x)

10

int

In [15]:
y = 2.5
print(y)
type(y)

2.5

float

In [16]:
z = 1+2j
print(z)
type(z)

(1+2j)

complex

In [18]:
x = float(12)
x

12.0

In [19]:
y = complex(2,1)
y

(2+1j)

In [23]:
c = 2+3j
v = 3+7j
print(c+v)
print(c-v)
print(c*v)
print(c/v)

(5+10j)
(-1-4j)
(-15+23j)
(0.4655172413793104-0.08620689655172416j)

In [29]:
g = True
type(g)

bool

In [30]:
l = False
type(l)

bool

In [31]:
g>l

True

In [32]:
g<l

False

In [33]:
# strings
s1 = "Tony"
s2 = 'sai'
print(s1)
s2

Tony

'sai'

In [34]:
type(s1)
type(s2)

str

In [35]:
i = 100
print(type(i))

<class 'int'>

In [36]:
s1 = str(i) # str converts the input into string
print(s1)
type(s1)

100

str

In [37]:
f1 = float(i) # float converts the input into float type
print(f1)
type(f1)

100.0

float

In [38]:
s = "100"
print(type(s))

<class 'str'>

In [39]:
a = int(a)
type(a)

int

In [40]:
f = 1.5
type(f)

float

In [41]:
a11 = int(f)
type(a11)

int

In [43]:
a = '1234'
len(a) # returns the length of the string

4

# operators:

# 1. arthematic operators:+,-,*,/,//,%,**
# logical operators : and or  not
# relational operators: <,<=,>,>=,==,!=
# membership operators:in,not in

# 1:arthematic operators::
# % modluar divisions
# // floor divisons
# ** exponentiation
# + addtion
# - substraction
# * multiplication
# / division

In [1]:
a = 500
b = 10
print(a+b)
print(a-b)
print(a*b)
print(a/b) # store the quotient
print(a//b) #  rounds the nearest integer
print(a%b) # store the reminder 
print(a**b) # a acts as the power of b

510
490
5000
50.0
50
0
976562500000000000000000000

In [2]:
2+3

5

In [3]:
2-5

-3

In [4]:
2/4

0.5

In [5]:
2//4

0

In [6]:
2%4

2

In [7]:
# logical operations
x = 4
y = 9
print(x>=5 and x<=10) # checks for two conditions 
print(x>=5 or x<=5) # checks for the either of the conditions
print(not(x))

False
True
False

In [8]:
# relational operations
x = 2 
y = 3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x>=y)
print(x<=y)

False
True
True
False
False
True

In [14]:
# MEMBERRSHIP operation
str1 = 'abc'
print('a' in str1)
print('n'  in str1)

True
False

In [1]:
# MEMBERRSHIP operation
str1 = 'abc'
print('a' in str1)
print('a'  not in str1)

True
False

# conditional statement
#1. if
#2. if-else
#3. else

# syntax :(if)
- if condition
    - statement

# syntax:
 - if condition
        - statements
- else:
    - statement

# syntax:(elseif)else part is optional in elseif
 - if condition
        - statements
- elif:
    - statement
- elif:
    - statement
- elif:
    - statement
- else:
    - statement

In [6]:
# to check given number positive or not
a = 10
if a>0:
    print('positive')

positive

In [7]:
# to check given number positive or negative
a = -10
if a>0:
    print('positive')
else:
    print('negative')

negative

In [10]:
# to check given number positive or negative or zero
a = 0
if a>0:
    print('positive')
elif a<0:
    print('negative')
else:
    print('zero')

zero

In [12]:
a = int(input('enter a number'))
if a>0:
    print('positive')
elif a<0:
    print('negative')
else:
    print('zero')

enter a number9
positive

# to check given num is even r odd
# to check given is muliple of 3 and 5
# check the input leap year r not div with 400
# take 3 numbers as input nd find biggest of 3
# read the character and find whether it is a vowel or consonant